* {
  box-sizing: border-box;
}

a,
.link {
  text-decoration: dashed underline;
  text-underline-offset: 10%;
  text-decoration-thickness: 4%;
  color: var(--text);
  transition: all 200ms;
  &:hover {
    color: var(--color-accent);
  }
}

article {
  grid-column: 1/13;
}

blockquote {
  margin: auto 0;
  padding-left: 2rem;
  white-space: pre-wrap;
  text-align: justify;
  border-left: var(--border);

  @include breakpoint(small) {
    padding-left: 1rem;
  }
}

body {
  font-family: var(--font-list-serif);

  // Dot grid background
  /*
  background-size: 40px 40px;
  background-image: radial-gradient(circle,rgba(255,255,255,0.1) 1px,transparent 10%);
  background-attachment: fixed;
  */
  @include type-level-content; // default type size

  font-weight: 350; // Default font weight (things are getting bolded/italic for some reason)
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  cursor: url("/default.svg") 10 10, auto;
}

button, a {
  cursor: url("/pointer.svg") 10 10, auto;
}

button {
  border: 0;
  min-height: 4rem;
  min-width: 8rem;
  padding: 0.6rem 0.6em 0.4rem;
  border-radius: 4px;
  line-height: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-accent);
  color: var(--color-light);
}

cite {
  display: block;
  margin-top: 2rem;
  text-align: right;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--level6);
}

hr {
  grid-column: 1/13;
  width: 100%;
  margin: 1rem auto; // don't mess with this
  border: none;
  border-bottom: var(--border-2);
}

p,
ul,
ol, 
blockquote {
  margin-top: 0;
  margin-bottom: 3rem;
  @include type-level-content;
}

code,
pre {
  font-family: var(--font-list-mono);
  letter-spacing: -0.8px;
}

nav {
  height: 3.5rem;
  left: 0;
  right: 0;
  position: fixed;
  font-size: 1.4rem;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: var(--border);
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(4px);
}

pre {
  @include type-level-code;

  line-height: 2rem;
  font-size: 1.1rem;
  margin: 0;
  background: var(--level1);
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
}

p code {
  // Inline code generated when text is wrapped in `backticks`
  @include type-level-content;

  font-size: 1.2rem;
  word-break: break-all;
  color: #00f;
}

img {
  display: block;
  border: var(--border-big);
}

main {
  padding: 10rem 0;

  @include breakpoint(small) {
    padding: 2rem 0;
  }
}

footer {
  padding: 6rem 0;
  border-top: var(--border);
  p {
    margin-bottom: 0;
  }
  .left {
    grid-column: 1/7;
  }
  .right {
    grid-column: 8/13;
  }
  div > * {
    display: block;
  }
  @include breakpoint(small) {
    padding: 2rem 0;
    height: 8rem;
  }
}

h1 {
  @include type-level-1;

  grid-column: 1/13;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  @include type-level-2;

  color: var(--text);
  margin-bottom: 0.8rem;
}

h3 {
  @include type-level-3;

  margin-bottom: 0.2rem;
}

h4 {
  @include type-level-4;

  margin-bottom: 0.2rem;
  color: var(--level9);
}

label {
  @include type-level-content;

  display: block;
  margin-bottom: 0.2rem;
}

input,
textarea {
  background: var(--background);
  border: var(--border);
  display: block;
  line-height: 2em;
  margin-bottom: 1em;
  min-height: 3em;
  padding: 0.25em;
  width: 100%;
  outline: 0;
  border-radius: 4px;

  &:focus {
    border: 2px solid var(--color-alt);
  }
}
