@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("highlight.js/styles/github-dark.css") screen and
	(prefers-color-scheme: dark);
@import url("highlight.js/styles/github.css") screen and
	(prefers-color-scheme: light);

:root {
	--max-container-width: 1200px;
	--max-content-width: 45rem;
	--logo-gap: 4rem;
	tab-size: 2;
}

@layer base {
	html {
		@apply h-full;
	}
	h1 {
		@apply text-4xl font-semibold tracking-tight sm:text-6xl;
	}
	h2 {
		@apply mb-4 text-4xl font-medium text-neutral-800 dark:text-neutral-200;
	}
	h3 {
		@apply text-2xl font-medium sm:text-3xl;
	}
	body {
		@apply m-0 h-full overflow-x-hidden bg-neutral-50 dark:bg-black dark:text-neutral-100;
	}
	figure {
		@apply my-8;
	}
	hr {
		@apply my-4 h-px border-neutral-300 dark:border-neutral-700;
	}
	a {
		@apply text-indigo-600 underline decoration-[4%] underline-offset-[8%] transition-all duration-100 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-500;
	}
	button {
		@apply rounded bg-indigo-600 px-2 text-white;
	}
	ul {
		@apply list-disc pl-4 sm:pl-12;
	}
	ol {
		@apply list-decimal pl-12;
	}
	li {
		@apply mb-2;
	}
	p,
	ul,
	ol,
	pre {
		@apply mb-6;
	}
	p {
		@apply leading-relaxed;
	}
	article {
		@apply mx-auto max-w-[var(--max-content-width)];
	}
	article h2 {
		@apply mt-12;
	}
	article img {
		@apply rounded;
	}
	section {
		@apply mx-auto max-w-[var(--max-content-width)];
	}
	pre,
	code {
		@apply rounded text-base;
	}
	p code {
		@apply rounded bg-neutral-200 px-1 tracking-tight dark:bg-neutral-900;
	}
}

@layer components {
	.backdrop {
		position: absolute;
		inset: 0;
		transform: translateY(-16px);
		height: calc(200% + 32px);
		backdrop-filter: blur(16px);
		mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
	}
	.resume-page h2 {
		@apply mb-1 text-2xl font-semibold text-black;
	}
	.resume-page h3 {
		@apply text-xl font-normal leading-snug;
	}
	.resume-page p {
		@apply text-base;
	}
	[data-rmiz-content] {
		height: 100%;
	}
	.cmdk [data-state="open"] {
		animation-duration: 0.2s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		animation-name: slideIn;
	}
	.cmdk [cmdk-input] {
		@apply mb-2 w-full rounded bg-neutral-200 px-4 py-1 focus:outline-0  dark:bg-neutral-900;
	}
	.cmdk [cmdk-item] {
		@apply rounded px-4 py-1;
	}
	.cmdk [data-selected="true"] {
		@apply bg-neutral-200 dark:bg-neutral-800;
	}
	@keyframes slideIn {
		0% {
			opacity: 0;
			transform: scale(0.96);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

@layer utilities {
	.logo-container {
		mask-image: linear-gradient(
			var(--mask-direction, to right),
			hsl(0deg 0% 0% / 0%),
			hsl(0deg 0% 0% / 100%) 20%,
			hsl(0deg 0% 0% / 100%) 80%,
			hsl(0deg 0% 0% / 0%)
		);
	}
}
