@import 'tailwindcss';

@import url('highlight.js/styles/github-dark.css') layer(utilities) screen and
  (prefers-color-scheme: dark);
@import url('highlight.js/styles/github.css') layer(utilities) screen and
  (prefers-color-scheme: light);

@theme {
  --font-*: initial; 
  --max-content-width: 1200px;
  --animate-scroll: scroll 60s linear infinite;
  --animate-float-up-single: float-up 1000ms ease;
  --animate-float-up-slow: float-up-blur 2000ms ease
    calc(var(--animation-order) * 400ms) 1 normal both;
  --animate-float-up: float-up 400ms ease calc(var(--animation-order) * 100ms) 1
    normal both;
  --animate-float-up-fast: float-up 400ms ease
    calc(var(--animation-order) * 60ms) 1 normal both;
  --animate-nav: nav 2000ms ease calc(var(--animation-order) * 400ms) 1 normal
    both;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--logo-gap)));
    }
  }
  @keyframes nav {
    0% {
      opacity: 0;
      filter: blur(8px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes float-up {
    0% {
      opacity: 0;
      transform: translateY(24px);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes float-up-blur {
    0% {
      opacity: 0;
      transform: translateY(24px) scale(0.99);
      filter: blur(8px);
    }
    100% {
      opacity: 1;
    }
  }
}

@utility resume-page {
  & h2 {
    @apply mb-1 text-2xl font-semibold text-black;
  }
  & h3 {
    @apply text-xl font-normal leading-snug;
  }
  & p {
    @apply text-base;
  }
}

@utility cmdk {
  & [data-state='open'] {
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: slideIn;
  }
  & [cmdk-input] {
    @apply mb-2 w-full rounded-sm bg-neutral-200 px-4 py-1 focus:outline-0  dark:bg-neutral-900;
  }
  & [cmdk-item] {
    @apply rounded-sm px-4 py-1;
  }
  & [data-selected='true'] {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }
}

@utility logo-container {
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0deg 0% 0% / 0%),
    hsl(0deg 0% 0% / 100%) 20%,
    hsl(0deg 0% 0% / 100%) 80%,
    hsl(0deg 0% 0% / 0%)
  );
}

@layer base {
	html {
		@apply h-full;
	}
	h1 {
		@apply text-4xl font-semibold tracking-tight sm:text-6xl;
	}
	h2 {
		@apply mb-4 text-4xl font-medium text-neutral-800 dark:text-neutral-200;
	}
	h3 {
		@apply text-2xl font-medium sm:text-3xl;
	}
	body {
		@apply bg-neutral-50 dark:bg-black dark:text-neutral-100;
	} 
	hr {
		@apply my-4 h-px border-neutral-200 dark:border-neutral-700;
	}
	a {
		@apply text-indigo-600 underline decoration-[4%] underline-offset-[8%] transition-all duration-100 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-500;
	}
	button {
		@apply rounded-sm bg-indigo-600 px-2 text-white;
	}
	ul {
		@apply list-disc pl-4 sm:pl-12;
	}
	ol {
		@apply list-decimal pl-12;
	}
	li {
		@apply mb-2;
	}
	p,
	ul,
	ol,
	pre {
		@apply mb-6;
	}
	p {
		@apply leading-relaxed;
	} 
	article h2 {
		@apply mt-12;
	}
	article img {
		@apply rounded-sm;
	}
	section {
		@apply mx-auto max-w-(--max-content-width);
	}
	pre,
	code {
		@apply rounded-sm text-base;
	}
	p code {
		@apply rounded-sm bg-neutral-200 px-1 tracking-tight dark:bg-neutral-900;
	}
  main > * {
    @apply w-3xl mx-auto;
  }
}

@layer components {
	[data-rmiz-content] {
		height: 100%;
	}
	@keyframes slideIn {
		0% {
			opacity: 0;
			transform: scale(0.96);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}
