@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--max-container-width: 1200px;
	--max-content-width: 45rem;
	--logo-gap: 4rem;
	tab-size: 2;
	cursor: url("/default.svg") 10 10, auto;
}

@layer base {
	h1 {
		@apply text-4xl font-bold tracking-tight sm:text-6xl;
	}
	h2 {
		@apply mb-4 text-4xl font-medium tracking-tight text-neutral-800;
	}
	h3 {
		@apply text-2xl font-medium sm:text-3xl;
	}
	body {
		@apply m-0 h-full overflow-x-hidden bg-[#fbfafa] text-lg font-[300] md:text-2xl;
	}
	hr {
		@apply my-4 h-px border-neutral-300;
	}
	a {
		@apply text-indigo-600 underline decoration-[4%] underline-offset-[8%] transition-all duration-100 hover:cursor-hand hover:text-indigo-700;
	}
	button {
		@apply rounded bg-indigo-600 px-2 text-white hover:cursor-hand;
	}
	ul {
		@apply list-disc pl-4 sm:pl-12;
	}
	ol {
		@apply list-decimal pl-12;
	}
	li {
		@apply mb-2;
	}
	p,
	ul,
	ol,
	pre {
		@apply mb-6;
	}
	p {
		@apply leading-relaxed;
	}
	article {
		@apply mx-auto max-w-[var(--max-content-width)];
	}
	article h2 {
		@apply mt-12;
	}
	section {
		@apply mx-auto max-w-[var(--max-content-width)];
	}
	pre,
	code {
		@apply text-base sm:text-lg;
	}
	p code {
		@apply rounded bg-neutral-100 px-1 text-[93%] font-thin tracking-tight;
	}
}

@layer components {
	.resume-page h2 {
		@apply mb-1 text-2xl font-semibold text-black;
	}
	.resume-page h3 {
		@apply text-xl font-normal leading-snug;
	}
	.resume-page p {
		@apply text-base;
	}
}

@layer utilities {
	.logo-container {
		mask-image: linear-gradient(
			var(--mask-direction, to right),
			hsl(0deg 0% 0% / 0%),
			hsl(0deg 0% 0% / 100%) 20%,
			hsl(0deg 0% 0% / 100%) 80%,
			hsl(0deg 0% 0% / 0%)
		);
	}
}
