:root {
  --font-size-2: 3rem;
  --font-weight-2: 700;
  --font-weight-content: 300;

  --font-list-serif: "Space Grotesk", "Times New Roman", serif;
  --font-list-mono: "Space Mono", "SF Mono", "JetBrains Mono", "Courier", monospace;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("fonts/SpaceGrotesk.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@mixin type-level-1 {
  // @include underline-h1;

  // color: $color-red;
  font-size: 5rem;
  letter-spacing: -3px;
  line-height: 5.2rem;
  font-weight: 700;

  @include breakpoint(small) {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: normal;
  }
}

@mixin type-level-2 {
  // color: orange;
  font-size: var(--font-size-2);
  line-height: 1.2;
  font-weight: var(--font-weight-2);
  
  @include breakpoint(small) {
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: -0.6px;
  }
}

@mixin type-level-3 {
  // color: yellow;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.1;
}

@mixin type-level-4 {
  // color: green;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 24pt;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: normal;
  }
}

@mixin type-level-hero {
  // color: violet;
  
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 1.25;
  letter-spacing: 0.2px;

  @include breakpoint(small) {
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.2px;
  }
}

@mixin type-level-content {
  // color: violet;
  font-weight: var(--font-weight-content);
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -1px;

  @include breakpoint(small) {
    font-size: 1.2rem;
    line-height: normal;
  }
}

@mixin type-level-code {
  font-size: 1.2rem;
}
