body {
	height: 100%;
	cursor: url("/default.svg") 10 10, auto;
	tab-size: 2;
	overflow-x: hidden;
	margin: 0;
}

// external links
[href^="http"]::after {
	content: "(external link)";
	display: inline-block;
	width: 1em;
	height: 1em;
	text-indent: 1em;
	white-space: nowrap;
	overflow: hidden;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-testid='geist-icon' fill='none' height='14' shape-rendering='geometricPrecision' stroke='blue' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24' width='14' style='color: currentcolor;'%3E%3Cpath d='M7 17L17 7'%3E%3C/path%3E%3Cpath d='M7 7h10v10'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75% auto;
}

.marquee-content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;
	min-width: 100%;

	@media not (prefers-reduced-motion) {
		animation: scroll 60s linear infinite;
	}
}

#visier {
	--logo-gap: 4rem;

	position: relative;
	padding-top: 9rem;

	// blockquote
	figure {
		margin: 15rem auto;
	}

	.stats {
		display: flex;
		justify-content: space-between;
		margin-top: 8rem;
		color: var(--color-grey9);

		& > div {
			background-color: #fff;
			box-shadow: var(--box-shadow-medium);
			border-radius: var(--border-radius-medium);
			padding: 2rem;
			min-width: 24%;
		}

		div > div:first-of-type {
			font-size: 6rem;
			letter-spacing: -6px;
			line-height: 5rem;
			color: var(--color-grey12);
		}
	}

	.visier-hero {
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 4rem;

		img {
			position: absolute;
		}

		#goal-achievement-resignation-rate {
			left: 33%;
			top: -7rem;
		}

		#promotion-events-rate {
			left: 0%;
			top: -10rem;
		}

		#predicted-resignation-rate {
			top: 65rem;
			left: -19%;
		}

		#predicted-resignation-rate-next-year {
			top: 77rem;
			right: -18%;
		}

		#skills-automation2 {
			width: 20%;
			left: -7rem;
			top: 94rem;
		}

		#absence-to-worked-hours {
			right: -10%;
			top: -5rem;
			width: 20%;
		}

		#actual-direct-compensation {
			top: 17rem;
			left: -26%;
		}

		#applicant-hire-events {
			top: 24rem;
			right: -9%;
		}

		#breakdown-budget-allocation {
			width: 20%;
			top: 130rem;
			left: -4rem;
		}
	}

	@keyframes scroll {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(calc(-100% - var(--logo-gap)));
		}
	}

	.logo-container {
		mask-image: linear-gradient(
			var(--mask-direction, to right),
			hsl(0deg 0% 0% / 0%),
			hsl(0deg 0% 0% / 100%) 20%,
			hsl(0deg 0% 0% / 100%) 80%,
			hsl(0deg 0% 0% / 0%)
		);

		svg {
			fill: var(--color-grey9);
			height: 50%;
		}

		#amgen {
			height: 50%;
		}

		#autodesk {
			height: 70%;
		}

		#bridgestone {
			height: 40%;
		}

		#ebay {
			height: 70%;
		}

		#ford {
			height: 70%;
		}
	}

	.more-projects {
		display: flex;
		flex-wrap: wrap;

		li {
			width: 33%;
		}
	}
}
