:root {
  --max-container-width: 1440px; // Maximum width of site
  --level1: rgb(0 0 0 / 10%);
  --level2: rgb(0 0 0 / 20%);
  --level3: rgb(0 0 0 / 30%);
  --level4: rgb(0 0 0 / 40%);
  --level5: rgb(0 0 0 / 50%);
  --level6: rgb(0 0 0 / 60%);
  --level7: rgb(0 0 0 / 70%);
  --level8: rgb(0 0 0 / 90%);
  --level9: rgb(0 0 0 / 95%);
  --level10: rgb(0 0 0 / 100%);
  --box-shadow: 0 0 4px var(--level3);
  --color-light: rgb(255 255 255);
  --color-accent: #00f;
  --color-alt: #6666ff;
  --background: #ffe5e5;
  --border: 1px solid var(--level2);
  --border-2: 1px solid var(--level1);
  --border-big: 4px solid var(--color-accent);
  --border-radius: 4px;
  --font-list-serif: "NeueBit", "Editorial New", "Times New Roman", serif;
  --font-list-mono: "JetBrains Mono", "Menlo", "Courier", monospace;
}

:root[data-theme="dark"] {
  --background: #1f0021;
  --level1: rgb(255 255 255 / 10%);
  --level2: rgb(255 255 255 / 20%);
  --level3: rgb(255 255 255 / 30%);
  --level4: rgb(255 255 255 / 40%);
  --level5: rgb(255 255 255 / 50%);
  --level6: rgb(255 255 255 / 60%);
  --level7: rgb(255 255 255 / 70%);
  --level8: rgb(255 255 255 / 90%);
  --level9: rgb(255 255 255 / 95%);
  --level10: rgb(255 255 255 / 100%);
  --border: 1px solid var(--level3);
  --border-2: 1px solid var(--level2);
  --color-accent: #f00;
  --color-alt: #ff6666;
}

@font-face {
  font-family: NeueBit;
  font-weight: 100 400;
  src:
    url("./NeueBit-Regular.ttf") format("truetype"),
    url("./NeueBit-Regular.woff2") format("woff2"),
    url("./NeueBit-Regular.woff") format("woff");
}

@font-face {
  font-family: NeueBit;
  font-weight: 500 900;
  src:
    url("./NeueBit-Bold.ttf") format("truetype"),
    url("./NeueBit-Bold.woff2") format("woff2"),
    url("./NeueBit-Bold.woff") format("woff");
}

@font-face {
  font-family: "Editorial New";
  src: url("./EditorialNew-Variable.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono.ttf") format("truetype-variations");
  font-weight: 100 900;
}

@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 1280px) {
      @content;
    }
  }

  @if $point == small {
    @media (max-width: 480px) {
      @content;
    }
  }
}

@mixin type-level-1 {
  // @include underline-h1;

  // color: $color-red;
  font-size: 9rem;
  letter-spacing: -5px;
  line-height: 8rem;
  font-weight: 300;

  @include breakpoint(small) {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: normal;
  }
}

@mixin type-level-2 {
  // color: orange;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;

  @include breakpoint(small) {
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: -0.6px;
  }
}

@mixin type-level-3 {
  // color: yellow;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 42px;
}

@mixin type-level-4 {
  // color: green;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24pt;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: normal;
  }
}

@mixin type-level-hero {
  // color: violet;
  font-size: 3.3rem;
  font-weight: 350;
  line-height: 4.6rem;
  letter-spacing: -0.1px;

  @include breakpoint(small) {
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.2px;
  }
}

@mixin type-level-content {
  // color: violet;
  font-size: 2rem;
  font-weight: 350;
  line-height: 1.5;

  @include breakpoint(small) {
    font-size: 1.2rem;
    line-height: normal;
  }
}

@mixin type-level-code {
  font-size: 1.2rem;
}
