/*
The following mixins can be used to define styles for both light and dark themes, within a selector or otherwise.
*/
@mixin light() {
  :root[data-theme="light"] & {
    @content;
  }
}

@mixin dark() {
  :root[data-theme="dark"] & {
    @content;
  }
}

@mixin link() {
  font-family: $font-list-sans;

  @include light {
    color: $color-blue;

    &:hover {
      color: $color-red;
    }
  }

  @include dark {
    color: $color-red;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    cursor: pointer;
  }

  text-decoration: underline;
}

// Foundations
// Layout
$max-container-width: 1440px; // Maximum width of site

// Colours
$gray1: hsl(0deg 0% 99%);
$gray2: hsl(0deg 0% 97.3%);
$gray3: hsl(0deg 0% 95.1%);
$gray4: hsl(0deg 0% 93%);
$gray5: hsl(0deg 0% 90.9%);
$gray6: hsl(0deg 0% 88.7%);
$gray7: hsl(0deg 0% 85.8%);
$gray8: hsl(0deg 0% 78%);
$gray9: hsl(0deg 0% 56.1%);
$gray10: hsl(0deg 0% 40%);
$gray11: hsl(0deg 0% 20%);
$gray12: hsl(0deg 0% 5%);
$color-blue: #33f;
$color-red: #f00;
$border-light: 1px solid $gray5;
$border-dark: 1px solid $gray11;
$border-radius: 4px;

// Type
$font-list-serif: "Times New Roman", serif;
$font-list-mono: "Menlo", "Courier", monospace;
$font-list-sans: "Arial", sans-serif;

@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 1280px) {
      @content;
    }
  }

  @if $point == small {
    @media (max-width: 480px) {
      @content;
    }
  }
}

@mixin type-level-1 {
  // @include underline-h1;

  // color: $color-red;
  font-size: 9rem;
  letter-spacing: -0.05em;
  line-height: 8rem;
  font-weight: 300;

  @include breakpoint(small) {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: normal;
  }
}

@mixin type-level-2 {
  // color: orange;
  font-size: 3.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 300;

  @include breakpoint(small) {
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: -0.6px;
  }
}

@mixin type-level-3 {
  // color: yellow;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.8px;
  line-height: 42px;
}

@mixin type-level-4 {
  // color: green;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24pt;

  @include breakpoint(small) {
    font-size: 1rem;
    line-height: normal;
  }
}

@mixin type-level-big-content {
  // color: violet;
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 4.2rem;
  letter-spacing: -1px;

  @include breakpoint(small) {
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: -0.2px;
  }
}

@mixin type-level-content {
  // color: violet;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.3px;

  @include breakpoint(small) {
    font-size: 1.2rem;
    line-height: normal;
  }
}

@mixin type-level-code {
  font-size: 1.2rem;
}